
.homeActionBar {
	h1 {
		margin-top: 0;
	}
}

.infoWindow {
	width: 250px !important;
	overflow: none !important;
	position: overflow;
}


.gm-style-iw {
	width: 100% !important;
	height: auto;
}

.eventMap {
	width: 100%;
	height: 300px;
	z-index: 2055;
}

.pac-container {
	z-index: 2000;
}

#geocomplete {
	z-index: 2060;
}




nav.navbar {
	margin: 0;
}

.progress {
	border: 1px solid #bfbfbf;
}


.progress_bar_container {
	padding-top: 10px;
	width: 100%;
	background-color: #f2f2f2;
	margin-bottom: 20px;
}