
.homeActionBar {
	a {
		margin-bottom: 20px;
	}
}

.infoWindow {
	width: 250px !important;
	overflow: none !important;
	position: overflow;
}


.gm-style-iw {
	width: 100% !important;
	height: auto;
}

.eventMap {
	width: 100%;
	height: 300px;
	z-index: 2055;
}

.pac-container {
	z-index: 2000;
}

#geocomplete {
	z-index: 2060;
}


$main: #3276b1;

nav.navbar {
	margin: 0;
	background-color: $main;

	.navbar-brand {
		color: white;
	}

	.icon-bar {
		color: white;
		background-color: white !important;
	}

	ul.nav li a {
		color: white;
	}

	.logo a {
		// padding: 10px 0 0 10px;
		float: left;
		height: 43px;
	}
}

.progress {
	border: 1px solid #bfbfbf;
}


.progress_bar_container {
	padding-top: 10px;
	width: 100%;
	background-color: #f2f2f2;
	margin-bottom: 20px;
}





.addFriend {
	input {
		width: 78%;
		margin-right: 2%;
		float: left;
	}

	button {
		width: 20%;
	}

	margin-bottom: 100px;
}


footer {
	position: absolute;
	bottom: 0;
}


#messages {
	float: right;
	margin: 15px 10px 0 0;

	img {
		width: 30px;
		// height: 30px;
	}
}

.popover {
	top: 40px !important;
    left: auto !important;
    right: 10px !important;

     .arrow {
     	left: 73% !important;
     }
}

#messagesList {
	list-style-type: none;
	padding: 0px;

	li {
		width: 100%;
	}
}